<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - POW</title>
    <link rel="stylesheet" href="~/css/site.css">

</head>
<body>
    <header>
        <!-- Contenido del encabezado -->
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer>
        <!-- Contenido del pie de página -->
    </footer>
</body>
</html>
